# Midnight Preprod Contract Address
# You can set this in Vercel to override the local storage fallback.
VITE_CONTRACT_ADDRESS=8c34b5c05fe7ae32e5de68635a08d670c9a4ff5049ab2c2f76ffc95597b9082e

# Application specific thresholds
VITE_MIN_NET_WORTH_THRESHOLD=1000000
VITE_MIN_INCOME_THRESHOLD=200000
